.field-section-background {
  display: none;
  flex-direction: column;
  color: white;
  margin: 10px;
  padding: 1rem;
  background-color: #17181f;
  width: 100%;
  border-radius: 10px;
}

.field-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  color: #d8d8d8;
}

.field-table th,
.field-table td {
  padding: 10px;
  border: 1px solid #4b4c4d;
  text-align: center;
}

.field-table thead th:first-child {
  border-top-left-radius: 10px;
}

.field-table th:last-child {
  border-top-right-radius: 10px;
}

.field-table th {
  background-color: #1f2029;
}

.field-button {
  width: 150px;
  height: 50px;
  background-color: #1f2029; 
  color: #b1b2b7;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.field-button:hover {
  background-color: lightseagreen; 
  color: white;
}

.field-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.field-modal-content {
  border-radius: 10px;
  background-color: #17181f;
  margin: 5% auto;
  padding: 30px;
  width: 35%;
}

.field-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.field-close:hover,
.field-close:focus {
  color: lightseagreen;
  text-decoration: none;
  cursor: pointer;
}

.field-form {
  display: flex;
  flex-direction: column;
}

/* Form styles */
.field-form label {
  display: block;
  margin: 10px 0 5px;
}

.field-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.field-form button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: lightseagreen;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  width: 45%;
  padding: 10px;
  margin: 5px 0;
  align-self: center;
  box-sizing: border-box;
}

.field-form button:hover {
  background-color: lightskyblue;
}

.field-form-row {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.field-form-row-image {
  display: flex;
  gap: 25px;
  margin: 5px;
}

.image-input-1,.image-input-2 {
  border: 2px solid lightseagreen;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.field-form-row-image label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  width: 30%;
}

.field-form-row label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  width: 30%;
}

.field-form-row input {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: white;
  background-color: #252631;
  width: 65%;
  border: none;
  border-radius: 5px;
}

.field-form-row input:focus {
  outline: 2px solid lightskyblue;
}